<!DOCTYPE html>
<html id="bleh">
<body>
<head>
    <title>Security</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1 class="tOut">
        Security
    </h1>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9778;</button>
    </div>
    <h2 class="tOutline">
        Hey, {{name}}
    </h2>
    <h3 class="tOutline">
        Enter Authorization Code
    </h3>
</form>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;
            {% if current_user.profPic %}
            <img src="{{ url_for('auth.profile_pic') }}" id="profilePicture" alt="Uploaded Image" style="height: 25px; width: 25px;">
            {% else %}
            <p></p>
            {% endif %}
        </a>
        <a href="{{ url_for('main.security') }}" class="navFont" id="tOut">Back</a>
      </div>
      <div></div>
      <h2 class = tOutline>Enter Authorization Code</h2>
      <p class = tOutline>In order to change your password, you must enter the authorization code sent
        to {{email}}.
      </p>

         <!-- <form action="{{ url_for('auth.change_pass') }}">
         <input id="verify" class="current" placeholder="Current Password"></button>
         <input id="verify" class="currentV" placeholder="Enter Password Again"></button>
         <br>
         <br>
        </form> -->
        <!-- {% with messages = get_flashed_messages() %} -->
        <form method="POST" action="">
            <input class="tOutlineB2" name="auth" placeholder="Enter Code" autofocus="">
            <button type="submit">Verify Passcode</button>
        </form>
        <!-- {% if messages %}
        {{ messages[0] }}
        {% endif %}
        {% endwith %} -->
       
       
            
          <!-- <input id="verify" class="new" placeholder="New Password"></button>  -->
         <!-- <input id="verify" class="current" placeholder="Verify New Password"></button>  -->
</header>
</body>
</html>

