<!DOCTYPE html>
<html id="bleh">
<body>
<head>
    <title>Edit Profile</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1 class="tOut">
        Edit Profile
    </h1>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9778;</button>
    </div>
    <h2 class = tOutline>Let's Change Your Profie, {{name}}</h2>
</header>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;
            {% if current_user.profPic %}
            <img src="{{ url_for('auth.profile_pic') }}" id="profilePicture" alt="Uploaded Image" style="height: 25px; width: 25px;">
            {% else %}
            <p></p>
            {% endif %}
        </a>
        <a href="{{ url_for('main.userHome') }}" class="navFont" id="tOut">Home</a>
        <a href="{{ url_for('main.profileInfo') }}" class="navFont">Profile</a>
        <a href="{{ url_for('auth.logout') }}" class="navFont">Sign Out</a>
        <a href="{{ url_for('main.security') }}" class="navFont">Security</a>
      </div>
    <div>
    <div id = "slices">
        <div class = "slice">
    <h3 class="tOutD">Profile Description</h3>
    <p class="tOutD">Current profile description:<br><br>{{des}}</p>
    <p class="tOutD">Edit your profile description below:<br></p>
    <form method="POST" action="{{ url_for('auth.edit') }}">
        {% with messages = get_flashed_messages() %}
    <div class="field">
        <div class="control">
            <textarea id ="descript" type="text" name="editDesc" placeholder="Enter a short profile description">{{des}}</textarea>
        </div>
        {% if messages %}
       <p id = "center">{{ messages[0] }} </p> 
        {% endif %}
        {% endwith %}
    </div>
    <br>
    <button class="buttonD">Edit Description</button>
    <br><br>
</form>
</div>

<div class = "slice">
<h3 class="tOutD">Change Profile Picture</h3>
<p class="tOutD">Current profile picture: <br>
<img src="{{ url_for('auth.profile_pic') }}" id="changePic" alt="Uploaded Image" style="height: 75px; width: 75px;">
</p>
<form method="POST" class="tOutS" action="{{ url_for('auth.profilePic') }}" enctype="multipart/form-data">
    <input type="file" id="file" name="profile" accept="image/*" required>
    <br><br>
    <button type="submit">Submit</button>
    <br><br>
</form>
</div>

    <div class = "slice">
    <h2 class="tOutD">Uploaded Files</h2>
      <!-- <form action="/uploads" method="POST" enctype="multipart/form-data">
        <p class="tOutD">Choose a file:</label><br><br>
        <input class="tOutS" type="file" id="file" name="file" accept="image/*" required>
        <br><br>
        <button class="buttonS" type="submit">Upload</button>
    </form>
    {% if current_user.fPath %}
            <img src="{{ url_for('auth.view_image') }}" class = "iUpload" alt="Uploaded Image" style="max-width: 50%; height: 50%;">
        {% endif %}  -->
</div>

<a class ="back" onclick="slideshow(-1), closeNav()">&#10094;</a>
<a class ="next" onclick="slideshow(1), closeNav()">&#10095;</a>

<div class ="marker">
    <span class ="mark" onclick="slide(1)"></span>
    <span class ="mark" onclick="slide(2)"></span>
    <span class ="mark" onclick="slide(3)"></span>
</div>


</div>

</header>
</body>
</html>






