<!DOCTYPE html>
<html id="bleh">
<head>
    <title>Edit Profile</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
</head>
<header>
    <h1 class="tOut">
        Edit Profile
    </h1>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9776;</button>
    </div>
    <h2 class="tOutline">
        Hey, {{name}}
    </h2>
    <p class = tOutline>Make changes to your profile</p>
    <h3 class="tOutD">
        Profile Description
    </h3>
    <div>
    <p class="tOutD">Current profile description:<br><br>{{des}}</p>
    <p class="tOutD">Edit a new profile description below:<br></p>
    <form method="POST" action="{{ url_for('auth.edit') }}">
    <div class="field">
        <div class="control">
            <textarea id ="descript" type="text" name="editDesc" placeholder="Enter a short profile description"></textarea>
        </div>
    </div>
    <br>
    <button class="tOutlineB">Edit Description</button>
    <br><br>
</form>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('main.userHome') }}" class="navFont" id="tOut">Home</a>
        <a href="{{ url_for('main.profileInfo') }}" class="navFont">Profile</a>
        <a href="{{ url_for('auth.logout') }}" class="navFont">Sign Out</a>
      </div>
      <form action="/uploads" method="POST" enctype="multipart/form-data">
        <label class="tOutD" for="file">Choose a file:</label><br><br>
        <input type="file" id="file" name="file" accept="image/*" required>
        <br><br>
        <button type="submit">Upload</button>
    </form>
</header>






