<!DOCTYPE html>
<html id="bleh">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    <link rel="stylesheet" type="text/css" href = "../static/cssI/style.css">
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
</head>
<header>
    <h1 class="tOut">
        Home
    </h1>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9776;</button>
    </div>
    <h2 class="tOutline">
        David's Terrible Website
    </h2>
    <h3 class="tOutline">Welcome, {{name}}!</h3>
</header>
<body>
<div class="tOutline">
<p class ="tOutline">
    This is just a terrible website that I am making for demonstration purposes.
</p>
</div>
<div>
    <!-- <img src="pics/pizza.jpeg" alt="fuck you" id="pizza" onclick="startRotation()"> -->
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ url_for('main.profileInfo') }}" class="navFont">Profile</a>
    <a href="{{ url_for('main.editProfile') }}" class="navFont">Edit Profile</a>
    <a href="{{ url_for('auth.logout') }}" class="navFont" id="tOut">Sign Out</a>
  </div>
    <div id="spacer"></div>
</div>
</body>
</html>