<!DOCTYPE html>
<html id="bleh">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    <link rel="stylesheet" type="text/css" href = "../static/cssI/style.css">
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1 class="tOut">
        Home
    </h1>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9778;</button>
    </div>
    <h2 class="tOutline">
        David's Terrible Website
    </h2>
    <h3 class="tOutlineF">Welcome, {{name}}!
</h3>
</header>
<body>
<div class="tOutline">
<p class ="tOutline">
    This is just a terrible website that I am making for demonstration purposes.<br><br>
    Below you will find several images of pizza. 
</p>
</div>
<div class = "slices">
    <div class = "slice">
        <img src="{{ url_for('static', filename='pics/pizza.jpeg') }}" style= "width: 100%;">
    </div>
    <div class = "slice">
        <img src="{{ url_for('static', filename='pics/sc01.png') }}" style= "width: 100%;">
    </div>
    <div class = "slice">
        <img src="{{ url_for('static', filename='pics/sc02.png') }}" style= "width: 100%;">
    </div>
    
    <a class ="back" onclick="slideshow(-1), closeNav()">&#10094;</a>
    <a class ="next" onclick="slideshow(1), closeNav()">&#10095;</a>
</div>

<div class ="marker">
    <span class ="mark" onclick="slide(1)"></span>
    <span class ="mark" onclick="slide(2)"></span>
    <span class ="mark" onclick="slide(3)"></span>
</div>

<div>
    <!-- <img src="pics/pizza.jpeg" alt="fuck you" id="pizza" onclick="startRotation()"> -->
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;
    {% if current_user.profPic %}
         <img src="{{ url_for('auth.profile_pic') }}" id="profilePicture" alt="Uploaded Image" style="height: 25px; width: 25px;">
    {% else %}
        <p></p>
    {% endif %}
    </a>
    <a href="{{ url_for('main.profileInfo') }}" class="navFont">Profile
    </a>
    <a href="{{ url_for('main.editProfile') }}" class="navFont">Edit Profile</a>
    <a href="{{ url_for('auth.logout') }}" class="navFont" id="tOut">Sign Out</a>
    <a href="{{ url_for('main.security') }}" class="navFont">Security</a>
  </div>
    <div id="spacer"></div>
</div>
</body>
</html>