<!DOCTYPE html>
<html id="bleh">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
</head>
<header>
    <h1 class="tOut">
        Profile Info
    </h1>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9778;</button>
    </div>
    <h2 class="tOutline">
        {{name}}'s Profile 
    </h2>
    <p class = tOutline>Welcome to your profile!</p>
    <h3 class="tOutD">
        Profile Description
    </h3>
    <p class = "tOutD">{{des}}</p>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('main.userHome') }}" class="navFont" id="tOut">Home</a>
        <a href="{{ url_for('main.editProfile') }}" class="navFont">Edit Profile</a>
        <a href="{{ url_for('auth.logout') }}" class="navFont">Sign Out</a>
        <a href="{{ url_for('main.security') }}" class="navFont">Security</a>
      </div>
</header>