<!DOCTYPE html>
<html id="bleh">
<body>
<head>
    <title>Security</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1 class="tOut">
        Security
    </h1>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9778;</button>
    </div>
    <h2 class="tOutline">
        Hey, {{name}}
    </h2>
    <p class = tOutline>Manage Password, Update Email Address</p>

    <h3 class="tOutline">
        Security
    </h3>
</form>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;
            {% if current_user.profPic %}
            <img src="{{ url_for('auth.profile_pic') }}" id="profilePicture" alt="Uploaded Image" style="height: 25px; width: 25px;">
            {% else %}
            <p></p>
            {% endif %}
        </a>
        <a href="{{ url_for('main.userHome') }}" class="navFont" id="tOut">Home</a>
        <a href="{{ url_for('main.profileInfo') }}" class="navFont">Profile</a>
        <a href="{{ url_for('main.editProfile') }}" class="navFont">Edit Profile</a>
        <a href="{{ url_for('auth.logout') }}" class="navFont">Sign Out</a>
      </div>
</header>
</body>
</html>

