<html id="bleh">
    <head>
        <title>Sign Up</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    </head>

{% block content %}
<div>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9778;</button>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('main.profile') }}" class="navFont">Sign In</a>
      </div>
    <h2 class="tOutline">Sign Up</h2>
    <div class="box">
        <form method="POST" action="{{ url_for('auth.signup_post') }}" enctype="multipart/form-data">
            <div class="field">
                <div class="control">
                    <input class="tOutlineB2" type="email" name="email" placeholder="Email" autofocus="" onclick="closeNav()">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="tOutlineB2" type="text" name="name" placeholder="Name" autofocus="" onclick="closeNav()">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="tOutlineB2" type="password" name="password" placeholder="Password" onclick="closeNav()">
                </div>
                    <ul class = tOutR style="display: none;">
                        <li> Must be at least 8 characters long</li>
                        <li>Must be less than 13 characters long</li>
                        <li>Must Contain at least 1 uppercase letter</li>
                        <li>Must Contain at least 1 lowercase letter</li>
                        <li>Must contain a special character</li>
                    </ul>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="tOutlineB3" id ="descript" type="text" name="description" placeholder="Enter a short profile description" onclick="closeNav()"></textarea>
                </div>
            </div>
            <div class="field">
                <div class = control>
                        <p class="tOutD">Choose a Profile Picture</label><br><br>
                        <input type="file" id="file" name="profile" accept="image/*" required onchange="preview()">
                        <br><br>
                        <img id="new_pic" style="height: 25px; width: 25px; display: none;" alt="Profile Preview">
                        <button class="buttonS" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="tOutline">
        {{ messages[0] }}. Sign in <a href="{{ url_for('auth.login') }}">Here!</a>
    </div>
{% endif %}
{% endwith %} 
<form method="POST" action="{{url_for ('auth.signup_post')}}">
<script src="{{ url_for('static', filename='js/style.js') }}"></script>
<script src="../static/js/style.js"></script>
{% endblock %}
</html>