<html id="bleh">
    <head>
        <link rel="stylesheet" href = "{{ url_for('static', filename='cssI/style.css') }}">
    </head>
{% extends "base.html" %}

{% block content %}
<div>
    <div id="main">
        <button class = "openbtn" onclick="openNav()">&#9776;</button>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('main.profile') }}" class="navFont">Sign In</a>
      </div>
    <h3 class="tOutline">Sign Up</h3>
    <div class="box">
        <form method="POST" action="{{ url_for('auth.signup_post') }}">
            <div class="field">
                <div class="control">
                    <input class="tOutlineB2" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="tOutlineB2" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="tOutlineB2" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="tOutlineB3" id ="descript" type="text" name="description" placeholder="Enter a short profile description"></textarea>
                </div>
            </div>
            <button class="tOutlineB2">Sign Up</button>
        </form>
    </div>
</div>
<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %} -->
<form method="POST" action="{{url_for ('auth.signup_post')}}">
<script src="{{ url_for('static', filename='js/style.js') }}"></script>
<script src="../static/js/style.js"></script>
{% endblock %}
</html>